.hhCard{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.hhRadio{
    display: block;
    margin: 15px;
}

.hhLabel{
    text-align: center;
    font-size: 34px;
}

#btnHH{
    width: 85%;
    margin: auto;
}

#titleHH{
    font-weight: bolder;
}