<ion-header>
    <ion-toolbar   color="hh">
      <ion-title id="titleHH">¿Cuál es tu nivel de lesión?</ion-title>
      <ion-buttons slot="start">
        <ion-back-button class="backButton" text="" defaultHref="login"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content color="hh" text-center>
  
    <ion-radio-group color="hhKing">

      <ion-card color="hhKing" class="hhCard">
        <ion-radio color="light" class="hhRadio" value="aguda" checked></ion-radio>
        <ion-item color="hhKing">
          <ion-label class="hhLabel">Aguda</ion-label>
        </ion-item>
        <ion-item color="hhKing">
          <p>Aguda kaskaks</p>
        </ion-item>
      </ion-card>

      <ion-card color="hhKing" class="hhCard">
        <ion-radio color="light" class="hhRadio" value="subAguda" checked></ion-radio>
        <ion-item color="hhKing">
          <ion-label class="hhLabel">Sub Aguda</ion-label>
        </ion-item>
        <ion-item color="hhKing">
          <p>Sub Aguda asasas</p>
        </ion-item>
      </ion-card>

      <ion-card color="hhKing" class="hhCard">
        <ion-radio color="light" class="hhRadio" value="cronica" checked></ion-radio>
        <ion-item color="hhKing">
          <ion-label class="hhLabel">Crónica</ion-label>
        </ion-item>
        <ion-item color="hhKing">
          <p>Cronica jajajaj</p>
        </ion-item>
      </ion-card>
     
    </ion-radio-group>
</ion-content>

<ion-footer>
  <ion-toolbar color="hh">
    <section>
      <ion-button id="btnHH" expand="block">Siguiente</ion-button>
    </section>
  </ion-toolbar>
</ion-footer>