.social-btn{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 35px;
    width: auto;
    height: 65px;
}

#p-oInicia{
    color: #8e8989;
}

.btn-userpassword{
    margin-top: 13px;
    margin-bottom: 13px;
}

#logoHH{
    margin-top: 45px;
    margin-bottom: 22px;
}