<app-header titulo="Terapia de Rodilla">
</app-header>

<!-- <ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Terapia de rodilla
        </ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-list>
        <ion-card>
            <ion-card-header>
                <h5>Ejercicio Calentamiento Rodilla</h5>
            </ion-card-header>
            <ion-card-content>
                <ion-button (click)="onClick1('LOe_wcdmZ38')">Ver Video
                </ion-button>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <h5>Astrosis De Rodilla</h5>
            </ion-card-header>
            <ion-card-content>
                <ion-button (click)="onClick2('tHunaYqNiqI')">Ver Video
                </ion-button>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <h5>Extension De Rodilla</h5>
            </ion-card-header>
            <ion-card-content>
                <ion-button (click)="onClick3('8uOnbVXnu2k')">Ver Video
                </ion-button>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <h5>Priocepcion de Rodilla</h5>
            </ion-card-header>
            <ion-card-content>
                <ion-button (click)="onClick4('PXSmI7DNkM4')">Ver Video
                </ion-button>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>